* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --minColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}
body {
  font-family: "Lato", sans-serif;
}
/* nav style  */
nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
}

.left {
  width: 50%;
  text-align: left;
}
.left li {
  font-weight: 700;
  color: #f57224;
  font-size: 20px;
}
.right {
  width: 50%;
  text-align: right;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
}
.shoppingCart i {
  display: inline-block;
  font-size: 20px;
  color: var(--lightDark);
  margin-right: 20px;
}
.cartCount {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--minColor);
  color: var(--whiteColor);
  border-radius: 47%;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
}

/* banner  */
.container {
  width: 100%;
  padding: 0 100px;
}
header {
  width: 100%;
  background: url("./assests/background.jpg");
  height: 250px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.headerText {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerText h1 {
  font-size: 35px;
}
.headerText p {
  margin-top: 7px;
}

/* product style  */
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product {
  width: 25%;
  padding: 0 12px;
  margin: 12px 0;
  overflow: hidden;
  position: relative;
}
.hot {
  position: absolute;
  top: 0;
  padding: 5px 20px;
  color: var(--whiteColor);
  background: orangered;
}
.new {
  position: absolute;
  top: 0;
  padding: 5px 20px;
  color: var(--whiteColor);
  background: greenyellow;
}
.product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.product-details {
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solida #fafafa;
}
.product-name {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}
.product-price {
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}
.add-to-cart {
  background: var(--minColor);
  padding: 10px 20px;
  width: 100%;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/* not found style */
.not-found {
  margin-top: 100px;
}

/* cart styles  */
.cart-container {
  width: 100%;
  margin-top: 40px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details {
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.cart {
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}
.cart-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}
.cart-image img {
  width: 100%;
  height: 100%;
}
.cart-product-name {
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.cart-product-price {
  width: 120px;
  padding: 0 15px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: var(--minColor);
}
.inc {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--minColor);
  font-size: 14px;
  color: var(--minColor);
  border-radius: 3px;
  cursor: pointer;
}
.product-quantity {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.dec {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  border: 1px solid rgb(113, 16, 16);
  font-size: 14px;
  color: rgb(113, 16, 16);
  border-radius: 3px;
  cursor: pointer;
}
.product-total-price {
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete-product {
  border: none;
  color: rgb(187, 58, 58);
  cursor: pointer;
}
